#xCode / OSX
.DS_Store
ios/build
ios/Pods
ios/Podfile.lock
xcuserdata
*.pbxuser
*.xccheckout
*.xcuserstate
*.ipa


#Android/Idea
.idea
android/app
android/build
android/.gradle
*.iml

#node.js
node_modules/
npm-debug.log
package-lock.json

buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
